canvas {
  margin : 1px ;
       padding : 1px ;
       border : 1px solid maroon ;
       background-color:white;
}


img{
  color:#fff;
  margin : 1px ;
       padding : 1px ;
       border : 1px solid maroon ;
       background-color:white;
}

a {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

/*main*/
body{

font-family:"メイリオ",sans-serif;
/*background-color:black;*/
background-image:url("https://idoushiki.web.fc2.com/tetetetatter/img/background.png");
 table-layout: fixed;
color:#fff;

}
phone{
  zoom: 0.5;
 -moz-transform: scale(1.5);
}

.div{
/*margin : 5px ;*/
     padding : 5px ;
     border : 1px solid maroon ;
	font-size:18px;
text-align:center;

}


.button {

	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	line-height: 70px;
  width:80px;
  height:80px;
	cursor:pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
}
.button:hover {
	background-color: rgba(255, 255, 255, .2);
}

.button:hover {
	background-color: rgba(255, 255, 255, .2);
}


.aaa {
}

#imgbutton {
          float: left;

}

#gazou {
          float: right;
}
